#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "elabftw"
name = "eLabFTW"
description.en = "Electronic lab notebook for research labs"
description.fr = "Cahier de note électronique pour les laboratoires de recherche"

version = "5.3.11~ynh1"

maintainers = []

[upstream]
license = "AGPL-3.0-only"
website = "https://www.elabftw.net"
demo = "https://demo.elabftw.net/login.php"
admindoc = "https://doc.elabftw.net/"
code = "https://github.com/elabftw/elabftw"
cpe = "cpe:2.3:a:elabftw:elabftw"
fund = "https://github.com/sponsors/NicolasCARPi"

[integration]
yunohost = ">= 12.1.35"
helpers_version = "2.1"
architectures = ["amd64","arm64"]
multi_instance = true

ldap = true
sso = false

disk = "1000M"
ram.build = "400M"
ram.runtime = "300M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    help.en = "If enabled, eLabFTW will be accessible by people who do not have an account. This can be changed later via the webadmin."
    help.fr = "Si cette case est cochée, eLabFTW sera accessible aux personnes n’ayant pas de compte. Vous pourrez changer ceci plus tard via la webadmin."
    type = "group"
    default = "visitors"

[resources]
    [resources.sources.docker]
    format = "docker"
    extract = true
    prefetch = false
    amd64.url = "elabftw/elabimg:5.3.11"
    amd64.sha256 = "20f2e6f6dfa2c57313e515360d211ab6a971e9c240fd66dd1aea7751126e9bef"
    arm64.url = "elabftw/elabimg:5.3.11"
    arm64.sha256 = "20f2e6f6dfa2c57313e515360d211ab6a971e9c240fd66dd1aea7751126e9bef"
    #autoupdate.upstream = "https://github.com/elabftw/elabftw/"
    #autoupdate.strategy = "latest_github_release"

    [resources.system_user]

    [resources.install_dir]
    group = "www-data:r-x"

    [resources.permissions]
    main.url = "/"

    [resources.apt]
    packages = [
        "bash",
        "brotli",
        "curl",
        "ghostscript",
        "openssl",
        "php8.4-bcmath",
        "php8.4-curl",
        "php8.4-ctype",
        "php8.4-dev",
        "php8.4-dom",
        "php8.4-exif",
        "php8.4-gd",
        "php8.4-gettext",
        "php8.4-fileinfo",
        "php8.4-fpm",
        "php8.4-intl",
        "php8.4-json",
        "php8.4-ldap",
        "php8.4-mbstring",
        "php8.4-mysql",
        "php8.4-imagick",
        "php8.4-opcache",
        "php8.4-phar",
        "php8.4-redis",
        "php8.4-simplexml",
        "php8.4-tokenizer",
        "php8.4-xml",
        "php8.4-xmlwriter",
        "php8.4-zip",
        "tzdata",
        "unzip",
        "yarn",
        "zopfli",
        "mariadb-server",
    ]

    [resources.database]
    type = "mysql"
