#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "elabftw"
name = "eLabFTW"
description.en = "Electronic lab notebook for research labs"
description.fr = "Cahier de note électronique pour les laboratoires de recherche"

version = "4.4.3~ynh1"

maintainers = []

[upstream]
license = "AGPL-3.0-only"
website = "https://www.elabftw.net"
demo = "https://demo.elabftw.net/login.php"
admindoc = "https://doc.elabftw.net/"
code = "https://github.com/elabftw/elabftw"
cpe = "cpe:2.3:a:elabftw:elabftw"
fund = "https://github.com/sponsors/NicolasCARPi"

[integration]
yunohost = ">= 12.1.35"
helpers_version = "2.1"
architectures = ["amd64","arm64"]
multi_instance = true

ldap = true
sso = false

disk = "1000M"
ram.build = "400M"
ram.runtime = "300M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    help.en = "If enabled, eLabFTW will be accessible by people who do not have an account. This can be changed later via the webadmin."
    help.fr = "Si cette case est cochée, eLabFTW sera accessible aux personnes n’ayant pas de compte. Vous pourrez changer ceci plus tard via la webadmin."
    type = "group"
    default = "visitors"

[resources]
    [resources.sources.docker]
    format = "docker"
    extract = true
    prefetch = false
    amd64.url = "elabftw/elabimg:4.4.3"
    amd64.sha256 = "c868bd39b969468c7d33c582722d7bedc0e832bb436073516117556204ec1c99"
    arm64.url = "elabftw/elabimg:4.4.3"
    arm64.sha256 = "b5c7d8ebd1f48412298525ee9dec91eca458f63c02a2c98f38f2c70d3ccca940"
    #autoupdate.upstream = "https://github.com/elabftw/elabftw/"
    #autoupdate.strategy = "latest_github_release"

    [resources.system_user]

    [resources.install_dir]
    group = "www-data:r-x"

    [resources.permissions]
    main.url = "/"

    [resources.apt]
    packages = [
        "bash",
        "brotli",
        "curl",
        "ghostscript",
        "openssl",
        "php8.2",
        "php8.2-bcmath",
        "php8.2-curl",
        "php8.2-ctype",
        "php8.2-dev",
        "php8.2-dom",
        "php8.2-exif",
        "php8.2-gd",
        "php8.2-gettext",
        "php8.2-fileinfo",
        "php8.2-fpm",
        "php8.2-intl",
        "php8.2-json",
        "php8.2-ldap",
        "php8.2-mbstring",
        "php8.2-mysql",
        "php8.2-imagick",
        "php8.2-opcache",
        "php8.2-phar",
        "php8.2-redis",
        "php8.2-simplexml",
        "php8.2-tokenizer",
        "php8.2-xml",
        "php8.2-xmlwriter",
        "php8.2-zip",
        "tzdata",
        "unzip",
        "yarn",
        "zopfli",
        "mariadb-server",
    ]

    [resources.database]
    type = "mysql"
